body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Per il supporto su dispositivi iOS */
}

.image {
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    scroll-snap-align: start;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
