body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sopra {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    height: 30vh;
}

.post {
    display: flex;
    box-sizing: border-box;
    scroll-snap-align: start;
    border: 1px solid black;
    background-color: pink;
    width: 100vw;
    flex: 0 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

.testi {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.sotto {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    height: 20vh;
}

